$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;
$light-green: #b2ffb2;
$lightest-blue: #f0f8fc;
$light-blue: #6288a5;
$blue: #3467ea;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;
