html {
  position: relative;
  height: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: $serif;
  font-size: 12px;
  background-color: $bg-color;
}

button {
  color: white;
  padding: 7px 9px;
  border-radius: 3px;
  transition: background-color 0.3s;
  font-family: $sans-serif;
  text-align: center;
}

.single4 {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 6px solid #EEEEEE;
   border-top-color: #BFBFBF;
   border-bottom-color: #BFBFBF;
   -webkit-animation: single4 2.5s infinite ease-in-out;
   animation: single4 2.5s infinite ease-in-out;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
}

@-webkit-keyframes single4 {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(540deg);
      transform: rotate(540deg);
   }
}

@keyframes single4 {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(540deg);
      transform: rotate(540deg);
   }
}
