.my-gallery-class {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  max-width: 90%;
  margin: auto;
}

.image-element-class {
  display: flex;
  padding: 5px;
  width: 300px;
  img {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
    cursor: zoom-in;
  }
}

.page-title {
  text-align: center;
  font-family: cursive;
  color: white;
  background-color: black;
  font-size: 32px;
}
