.my-gallery-class {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  max-width: 50%;
  margin: auto;
  margin-left: 50px;
  margin-right: 50px;
}

.image-element-class {
  display: flex;
  padding: 5px;
  width: 300px;
  img {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
    cursor: zoom-in;
  }
}

.page-title {
  margin-top: 70px;
  text-align: center;
  font-family: cursive;
  color: $charcoal;
  background-color: white;
  font-size: 32px;
}
