.feed-photo {
  display: flex;
}

.feed-photo-left {
  padding: 10px;
  justify-content: center;
  max-width: 80%;
  width: calc(100% - 320px);
  float: left;
  display: inline-block;
  position: relative;
  overflow: hidden;
  img {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
  }
}

.feed-photo-right {
  width: 320px;
  flex-direction: column;
  align-items: center;
  right: 0px;
  background-color: #f7f8fa;
  text-align: center;
  h2 {
    align-items: center;
    font-size: 50px;
    padding: 20px;
    // margin-top: 20%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  h3 {
    font-size: 25px;
    font-weight: normal;
  }
}

.user-profile-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 3px;
}

.feed-ul {
  border-top: none;
}

.website-logo {
  height: 100%;
  img {
    height: 100%;
    border-radius: 100px;
  }
}

.website-logo:hover {
  cursor: pointer;
}

.image {
  position: relative;
}

.hidden-photo-info {
  overflow: hidden;
  height: 48px;
  // transition: 0.3s;
  display: flex;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 100%;
}

.message {
  display: flex;
  line-height: 48px;
  align-items: left;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  white-space: nowrap;
  text-align: left;
  font-weight: 600;
  overflow: hidden;
  height: 48px;
  white-space: nowrap;
}

// .photo-index-item:hover .hidden-photo-info {
//   height: 25px;
//   text-align: right;
// }

.empty-feed {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.discover-link {
  color: cornflowerblue;
}

.discover-link:hover {
  color: blue;
}
