.feed-photo {
  display: flex;
}

.feed-photo-left {
  display: flex;
  justify-content: center;
  width: 80%;
  img {
    max-width: 100vw;
    max-height: 80vh;
  }
}

.feed-photo-right {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  h2 {
    align-items: center;
    font-size: 50px;
    padding: 20px;
    margin-top: 20%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  h3 {
    font-size: 25px;
    font-weight: normal;
  }
}

.user-profile-photo {
  max-width: 150px;
  max-height: 150px;
  border-radius: 100px;
  border-style: solid;
  border-color: white;
  border-width: 3px;
}

.userpage-link:hover {
  cursor: pointer;
  color: #0099e5;
}

.feed-ul {
  border-top: none;
}

.website-logo {
  img {
    height: 54px;
  }
}

.website-logo:hover {
  cursor: pointer;
}

.image {
  position: relative;
}

.hidden-photo-info {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  background-color: gray;
  opacity: 0.8;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  height: 0;
  transition: 0.3s;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.message {
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  position: absolute;
  letter-spacing: 1px;
  top: 50%;
  white-space: nowrap;
  text-align: right;
}

.image:hover .hidden-photo-info {
  height: 30px;
  text-align: right;
}

.empty-feed {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.discover-link {
  color: cornflowerblue;
}

.discover-link:hover {
  color: blue;
}
