.footer {
  position: fixed;
  padding-bottom: 4px;
  background-color: black;
  z-index: 4;
  min-width: 1060px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  max-height: 50px;
  display: flex;
  align-items: center;
  min-height: 50px;
}

.foot-container {
  position: relative;
  margin: 0 auto;
  width: 1060px;
}

.foot-top-row {
  font-size: 14px;
  text-align: center;
}
.foot-nav-ul {
  height: 20px;
  border-top: none;
  text-align: justify;
  padding: 0;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.foot-li {
  display: inline-block;
  padding: 2px;
  zoom: 1;
  vertical-align: middle;
  color: #7e7e7e;
  font-weight: bold;
  a:hover {
    color: #bdbdbd;
  }
}
