.footer {
  font-size: 40px;
  div {
    width: 500px;
  }
  ul  {
    height: 50px;
    text-align:  center;
    position: fixed;
    bottom: 0;
  }
  li {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
    list-style: none;
  }
  a:hover {
    color: $hover-blue;
  }
}
