// nav {
//   position: absolute;
//   z-index: 1;
// }
.homepage-nav-logo {
  margin-left: 250px;
}

.splash-nav {
  position: absolute;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  // padding: 0 20px;
  font-size: 22px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  font-family: $sans-serif;
  font-weight: bold;
  color: white;
  align-items: center;
}

.session-nav {
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  // padding: 0 20px;
  font-size: 16px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  font-family: $sans-serif;
  font-weight: normal;
  color: black;
  align-items: center;
  border-bottom: 1px solid #eeeff2;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
  width: 25vw;
  align-items: center;
  margin-right: 20px;
  img {
    padding-right: 10px;
  }
  div {
    text-align: center;
  }
}

nav h1 .homepage-nav-link {
  color: white;
  margin-right: 30px;
}
nav h1 .homepage-nav-link:hover {
  color: #50c9ff;
}
