div .profile-form {
  display: flex;
  justify-content: center;
  background-color: red;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.edit-profile-button {
  display: inline-block;
  justify-content: flex-end;
  height: 30px;
  outline: none;
  font-weight: bold;
  padding: 0 10px;
  min-width: 100px;
  line-height: 28px;
  border-radius: 3px;
  background-color: #0099e5;
  border: 1px solid #0088cc;
  text-shadow: 0px 1px 0px #0088cc;
  box-shadow: 0px 1px 0px #0088cc;
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

.edit-profile-button:hover {
  background-color: #12a2c8;
}

.ReactModal__Content.ReactModal__Content--after-open {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.edit-profile-form input[type="text"] {
  color: black;
}

.profile-form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  color: white;
  font-family: $sans-serif;
}

.upload-form-label {
  font-size: 14px;
  font-family: $sans-serif;
  margin-top: 20px;
}
.bio-textarea {
  width: 100%;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.edit-form-greeting {
  font-size: 25px;
  text-align: center;
  font-family: $sans-serif;
  font-weight: bold;
}

.edit-profile-form {
  float: left;
  font-size: 14px;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 100%;
}

.icon-profile {
  text-align: center;
}

.update-profile-button {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  padding: 12px 20px;
  margin: 0 auto;
  border-radius: 4px;
  width: 50%;
  height: fit-content;
  background-color: #4caf50;
  color: white;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  font-family: $sans-serif;
}

.profile-index-photo {
  cursor: zoom-in;
  float: left;
}

.photo-info {
  border: red;
  // display: inline-block;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.photo-show-left img {
  max-width: 60vw;
  max-height: 80vh;
}

.photo-show-right {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 10px;
  width: 100%;
}

.photo-show-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.photo-info-title {
  background-color: grey;
}

.photo-info-description {
  background-color: grey;
}

ul {
  margin-top: 25px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

// li {
//   width: auto;
//   margin: 10px 10px;
//   height: 300px;
//   text-align: -webkit-center;
// }

.profile-index-photo {
  width: auto;
  margin: 10px 10px;
  height: 300px;
  text-align: -webkit-center;
}

.profile-index-photo img {
  width: auto;
  height: 100%;
}

// div .profile-photo {
//   display: flex;
// }

.profile-photo-div {
  display: flex;
  justify-content: center;
}

.profile-photo {
  max-width: 100px;
  max-height: 100px;
  border-radius: 20px;
}

.profile-photo:hover {
  cursor: pointer;
  opacity: 0.75;
}

.cover-photo:hover {
  cursor: pointer;
}

.cover-photo {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
