div .profile-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .cover-photo {
    width: 100%;
    img {
      width: 100%;
      height: 400px;
    }
  }
}

.hover:hover {
  cursor: pointer;
}

.edit-profile-button {
  margin-top: 10px;
  height: 30px;
  outline: none;
  font-weight: bold;
  padding: 0 10px;
  min-width: 100px;
  border-radius: 3px;
  background-color: #0099e5;
  border: 1px solid #0088cc;
  text-shadow: 0px 1px 0px #0088cc;
  box-shadow: 0px 1px 0px #0088cc;
  font-size: 14px;
}

.edit-profile-div {
  width: 90vw;
  display: flex;
  justify-content: flex-end;
}

.username-in-profile {
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
  margin-top: 10px;
  position: absolute;
}

.bio-in-profile {
  margin-top: 50px;
  font-size: 20px;
  font-weight: normal;
}

.user-info {
  display: flex;
  justify-content: center;
  height: 50px;
}

.edit-profile-button:hover {
  background-color: #12a2c8;
}

.ReactModal__Content.ReactModal__Content--after-open {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.edit-profile-form input[type="text"] {
  color: black;
}

.profile-form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  color: white;
  font-family: $sans-serif;
}

.upload-form-label {
  font-size: 14px;
  font-family: $sans-serif;
  margin-top: 20px;
}
.bio-textarea {
  width: 100%;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.edit-form-greeting {
  font-size: 25px;
  text-align: center;
  font-family: $sans-serif;
  font-weight: bold;
}

.edit-profile-form {
  float: left;
  font-size: 14px;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 100%;
}

.icon-profile {
  text-align: center;
}

.update-profile-button {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  padding: 12px 20px;
  margin: 0 auto;
  border-radius: 4px;
  width: 50%;
  height: fit-content;
  background-color: #4caf50;
  color: white;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  font-family: $sans-serif;
}


.photo-info {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.photo-show-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.photo-show-left img {
  max-width: 60vw;
  max-height: 80vh;
}

.photo-show-right {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 10px;
  width: 320px;
  justify-content: center;
}

.photo-show-form {
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin-top: 20px;
}

.photo-info-title {
  height: 25px;
  border: 2px solid $lightest-gray;
  padding: 5px;
}

.photo-info-description {
  height: 120px;
  border: 2px solid $lightest-gray;
  padding: 5px;
}

ul {
  border-top: 2px solid $light-gray;
  margin-top: 25px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.profile-index-photo {
  width: auto;
  margin: 5px 5px;
  height: 400px;
  text-align: -webkit-center;
  cursor: zoom-in;
  float: left;
}

.profile-index-photo img {
  width: auto;
  height: 100%;
}

.profile-photo-div {
  display: flex;
  justify-content: center;
}
.current-profile-photo {
  object-fit: cover;
  max-width: 150px;
  max-height: 150px;
  border-radius: 100px;
  margin: -100px;
  border-style: solid;
  border-color: white;
  border-width: 3px;
}

.profile-photo {
  max-width: 150px;
  max-height: 150px;
  border-radius: 100px;
  margin: -100px;
  border-style: solid;
  border-color: white;
  border-width: 3px;
}

.edit-profile-photo img {
  align-self: flex-end;
}

.current-profile-photo:hover {
  cursor: pointer;
  opacity: 0.95;
}

.delete-photo-button {
  background-color: #b9c1c7;
  align-self: flex-end;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
}

.delete-photo-button:hover {
  background-color: #e56969;
}

.save-photo-info {
  font-size: 16px;
  background-color: #4caf50;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 80px;
  margin: 40px;
}

.photo-show-right h2 {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.user-header-info {
  display: flex;
  align-items: flex-end;
  width: 40%;
  justify-content: space-around;
  font-size: 16px;
}
