.profile-form {
  display: flex;
  justify-content: flex-end;
}

.edit-profile-button {
  display: flex;
  justify-content: flex-end;
}

// .profile-edit-modal {
//   width: 90%;
//   height: 90%;
//   display: flex;
//   justify-content: space-around;
//   flex-direction: column;
// }

.ReactModal__Content.ReactModal__Content--after-open {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.edit-profile-form input[type="text"] {
  color: black;
}

.profile-form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  color: white;
  font-family: $sans-serif;
}

label {
  font-size: 14px;
  font-family: $sans-serif;
}
.bio-textarea {
  width: 100%;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.edit-form-greeting {
  font-size: 25px;
  text-align: center;
  font-family: $sans-serif;
  font-weight: bold;
}

.edit-profile-form {
  float: left;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 100%;
}

.icon-profile {
  text-align: center;
}

.update-profile-button {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  padding: 12px 20px;
  margin: 0 auto;
  border-radius: 4px;
  width: 50%;
  background-color: #4caf50;
  color: white;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  font-family: $sans-serif;
  width: 50%;
}

.profile-index-photo {
  cursor: zoom-in;
  float: left;
}

.photo-in-edit-modal {
}

.photo-info {
  border: red;
  display: inline-block;
  height: 100%;
}
.photo-info-title {
  background-color: red;
}

.photo-info-description {
  background-color: red;
}

ul {
  margin-top: 25px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

li {
  width: auto;
  margin: 10px 10px;
  overflow-x: hidden;
  height: 300px;
  text-align: -webkit-center;
}

li img {
  width: auto;
  height: 100%;
}

.profile-photo:hover img {
  cursor: pointer;
}
