.login-form-container {
  font-size: 16px;
  float: left;
  font-family: $serif;
}

.form-label {
  border-radius: 5px;
  background-color: #f2f2f2;
  display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  text-align: right;
}

.login-form-box {
  font-size: 18px;
  background: $light-green;
  text-align: center;
  border-radius: 2px;
  border-color: #71767a;
  border-style: solid;
  border-width: 1px;
  width: 200px;
}

.login-form {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 5px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  min-width: 323px;
  min-height: 355px;
}
.login-form button {
  display: flex;
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  color: white;
  font-family: $sans-serif;
}
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  display: inline-block;
  font-weight: bold;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.login-form-container label {
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.session-link {
  color: $blue;
  text-decoration: underline;
  margin: 0 auto;
}

.error-messages {
  color: #ff1919;
}

.demo-button {
  margin: 0 auto;
}

h1 {
  margin: 15px 10px;
  font-size: 20px;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  font-family: 'Wendy One', sans-serif;
  font-weight: bold;
  color: white;
}
