.login-form-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  box-sizing: border-box;
  transition: background-image 1s ease-in-out;
  background-image: url("https://res.cloudinary.com/foolishhunger/image/upload/v1512872631/splash5_cs8tkr.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-label {
  border-radius: 5px;
  background-color: #f2f2f2;
  display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  text-align: right;
}

.login-form-box {
  font-size: 18px;
  background: $light-green;
  text-align: center;
  border-radius: 2px;
  border-color: #71767a;
  border-style: solid;
  border-width: 1px;
  width: 200px;
}

.login-form {
  width: 350px;
  // height: 400px;
  padding: 12px 20px;
  // margin-left: 15%;
  // margin-top: 10%;
  display: inline-block;
  border: 5px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  min-width: 325px;
  min-height: 375px;
  background-color: white;
}
.login-form button {
  display: flex;
  margin: 0 auto;
}

.session-form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: $sans-serif;
}

.session-form-submit {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  font-family: $sans-serif;
}

.session-form-submit:hover {
  background-color: #45a049;
}

.glowing-border {
  border: 2px solid #dadada;
  border-radius: 5px;
}

.glowing-border:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.login-form-container label {
  font-size: 16px;
  font-weight: bold;
}

.error-messages {
  color: #ff1919;
  border-top: none;
  margin-top: 0px;
  min-height: 32px;
  font-size: 14px;
  li {
    align-self: center;
  }
}

.demo-button {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
  background: transparent;
  border: gray solid 1px;
}

.demo-button:hover {
  background-color: #d3d3d3;
}

h1 .homepage-nav-link {
  margin-left: 10px;
}

h1 .homepage-nav-link:hover {
  color: black;
}

.log-out-button {
  text-align: center;
  font-size: 18px;
  min-width: 72px;
  color: white;
}

.log-out-button:hover {
  color: $light-gray;
}

.fixed-nav .log-out-button {
  color: $charcoal;
}

.fixed-nav .log-out-button:hover {
  color: $gray;
}

.welcome {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  font-family: arial;
}

.navlink {
  min-height: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.session-link {
  color: blue;
  text-decoration: underline;
  margin: 0 auto;
  font-family: arial;
}
