.login-form-container {
  height: 100vh;
  width: 100%;
  // display: flex;
  align-items: center;
  font-size: 16px;
  float: left;
  font-family: $sans-serif;
  background-image: url("        http://res.cloudinary.com/foolishhunger/image/upload/c_scale,w_1400/v1506196087/su9jtvxafq5htqyo5np3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
}

.form-label {
  border-radius: 5px;
  background-color: #f2f2f2;
  display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  text-align: right;
}

.login-form-box {
  font-size: 18px;
  background: $light-green;
  text-align: center;
  border-radius: 2px;
  border-color: #71767a;
  border-style: solid;
  border-width: 1px;
  width: 200px;
}

.login-form {
  width: 350px;
  height: 400px;
  padding: 12px 20px;
  // margin: 120px;
  margin-left: 300px;
  margin-top: 120px;
  display: inline-block;
  border: 5px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  min-width: 323px;
  min-height: 355px;
  background-color: white;
  // opacity: 0.8;
}
.login-form button {
  display: flex;
  margin: 0 auto;
}

.session-form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: $sans-serif;
}

.session-form-submit {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  font-family: $sans-serif;
}

.session-form-submit:hover {
  background-color: #45a049;
}

.glowing-border {
  border: 2px solid #dadada;
  border-radius: 5px;
}

.glowing-border:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.login-form-container label {
  font-size: 16px;
  font-weight: bold;
}
.session-link {
  color: blue;
  text-decoration: underline;
  margin: 0 auto;
  font-family: sans-serif;
}

.error-messages {
  color: #ff1919;
}

.demo-button {
  margin: 0 auto;
}


h1 .homepage-nav-link {
  margin-left: 10px;
}

h1 .homepage-nav-link:hover {
  color: black;
}

.log-out-button {
  height: 15px;
  margin-right: 20;
}

.welcome {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
