.splash-gif {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -100;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.splash-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  box-sizing: border-box;
  position: absolute;
  transition: background-image 1s ease-in-out;
  background-image: url("https://res.cloudinary.com/foolishhunger/image/upload/v1512872631/splash5_cs8tkr.jpg");
}

.splash-page {
  display: flex;
  justify-content: center;
  align-self: center;
}

.homepage-message {
  position: absolute;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: serif;
  color: white;
  max-width: 640px;
  text-align: center;
  h1 {
    font-size: 56px;
    width: auto;
    line-height: 100px;
    font-weight: 600;
  }
  h3 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 50px;
  }
}

.join-us {
  border: white 2px solid;
  border-radius: 5px;
  color: black;
  font-size: 24px;
  font-weight: 800;
  line-height: 64px;
  height: 64px;
  transition: color 0.25s ease-in-out;
  background-color: white;
  min-width: 200px;
  max-width: 250px;
  align-self: center;
}

.join-us:hover {
  color: #939393;
}
