.upload-photo-form {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px;
}

.photo-title {
  color: $darkest-gray;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: $sans-serif;
}

.upload-thumbnail {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: gray dotted 1px;
}

.upload-thumbnail img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.upload-submit-button {
  cursor: pointer;
  text-align: center;
  padding: 12px 20px 22px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #64ad66;
  color: white;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  font-family: $sans-serif;
}

.upload-button-in-modal {
  margin-top: 5px;
  display: block;
  padding: 10px;
  height: 60px;
  align-self: center;
  text-align: center;
  font-size: 16px;
  background-color: #64ad66;
}

.cancel-button {
  background-color: #f9675c;
  right: 0;
  width: 60px;
  align-self: flex-end;
  font-size: 14px;
  text-align: center;
  height: 80px;
  padding: 0px;
  h5 {
    line-height: 0;
  }
}

.nav-upload-button {
  color: black;
  // background-color: white;
  // padding-left: 15px;
  // padding-right: 15px;
  // box-sizing: border-box;
  // display: inline-block;
  // height: 40px;
  font-size: 18px;
  // font-weight: normal;
  // line-height: 5px;
  transition: color 0.01s;
}

.fixed-nav .nav-upload-button {
  color: white;
  background-color: black;
  transition: color 0.01s;
}

.fixed-nav .nav-upload-button:hover {
  color: #d3d3d3;
  // background-color: #64ad66;
}

.photo-description {
  height: 100px;
  width: 100%;
  color: $darkest-gray;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: $sans-serif;
}
